{{ form_start(form) }}

    {{ form_widget(form) }}
   
    {# <button class="btn btn-primary">{{ button_label|default('Modifier') }}</button> #}


   {#Bouton Annuler #}

   <div class = "d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-outline-info btnCancel p-3" href="{{ path('patients_index') }}">Annuler</a>
   </div>
{{ form_end(form) }}