{% extends 'base.html.twig' %}

{% block title %}Liste des Rendez-vous{% endblock %}

{% block body %}
    <h1>Liste des Rendez-vous</h1>

    <table class="table table-striped table-bordered border-dark align-middle">
        <thead>
            <tr class="text-center">
                <th>Patient</th>
                <th>Jour</th>
                <th>Heure de début</th>
                <th>Heure de fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}

            <tr class="text-center">
                
                <td></td>
                <td> <span class="fw-bold">{{ appointment.startTime ? appointment.startTime|date('d-m-Y') : '' }}</span>
                <td> <span class="fw-bold">{{ appointment.startTime ? appointment.startTime|date('H:i') : '' }}</span> </td>
                <td> <span class="fw-bold">{{ appointment.endTime ? appointment.endTime|date('H:i'): '' }}</span>
                </td>
                <td>
                    <a href="{{ path('appointments_show', {'id': appointment.id}) }}" class="btn btn-outline-info p-3 btnIndexShow">Voir</a>
                    <a href="{{ path('appointments_edit', {'id': appointment.id}) }}" class="btn btn-outline-success p-3">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun RDV trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('appointments_new') }}" class="btn btn-outline-success btnIndexAdd p-3">Créer nouveau RDV</a>
{% endblock %}
